<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Larry J Lira</title>
  {% load static %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'portfolio/css/materialize.css' %}" media="screen,projection">
  <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}" media="screen,projection">
  <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">My Mission</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Larry J Lira</h1>
        <div class="row center">
        <!-- <img class=" circle responsive-img" src="{% static 'portfolio/images/profilepic.jpeg' %}" style="max-width: 30%;">   -->
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'portfolio/images/cobblestone.jpeg' %}" alt="header" style="display: block;: transform: translate3d(-50%, 141px, 0-x);"></div>
  </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Full Stack Developer</h4>
        </div>
      </div>


      <!--   Full Stack Developer   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <img class=" circle responsive-img" src="{% static 'portfolio/images/ruby.png' %}" style="max-width: 80%;">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">Ruby | Rails </h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img class=" circle responsive-img" src="{% static 'portfolio/images/python.png' %}" style="max-width: 80%;">
            <h5 class="center">Python | Django | Flask</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img class="circle responsive-img" src="{% static 'portfolio/images/javascript.png' %}" style="max-width: 80%;">
            <h5 class="center">JavaScript | AngularJS  Node.js | Express.js</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img class="circle responsive-img" src="{% static 'portfolio/images/frontend.jpg' %}" style="max-width: 80%;">
            <h5 class="center">HTML | CSS | jQuery  Materialize | Bootstrap</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img class="circle responsive-img" src="{% static 'portfolio/images/server1.png' %}" style="max-width: 80%;">
            <h5 class="center">MySQL | SQLite  MongoDB</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img class="circle responsive-img" src="{% static 'portfolio/images/settings.png' %}" style="max-width: 80%;">
            <h5 class="center">GitHub | AWS </h5>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- My Mission -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4>My Mission</h4>
          <h5 class="header col s12 white-text">To deliver interactive, cutting-edge designs that are attractive to a diverse variety of users. I possess the drive and commitment to learn and develop my career in an environment that is fast paced and ever changing. I look forward to the opportunity that will let me work alongside a team of enthusiastic people who love what they do.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'portfolio/images/wood.jpg' %}" style="display: block;: transform: translate3d(-50%, 141px, 0-x);"></div>
  </div>

<!-- Portfolio -->
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Portfolio</h4>
        </div>
      </div>
      <div class="row">

        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <img class="responsive-img" src="{% static 'portfolio/images/allmusic.png' %}">
              <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
              <h5 class="center">Ruby | Rails </h5>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <img class="responsive-img" src="{% static 'portfolio/images/cover.png' %}">
              <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
              <h5 class="center">Ruby | Rails </h5>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <img class="responsive-img" src="{% static 'portfolio/images/macat30.png' %}">
              <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
              <h5 class="center">Ruby | Rails </h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- About ME -->
          <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
              <div class="container">
                <div class="row center">
                  <h4>About Me</h4>
                  <h5 class="header col s12 black-text">Game Enthusiast</h5>
                </div>
              </div>
            </div>
            <div class="parallax"><img src="{% static 'portfolio/images/workst.jpg' %}" style="display: block;: transform: translate3d(-50%, 141px, 0-x);"></div>
          </div>



  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img class=" circle responsive-img" src="{% static 'portfolio/images/profilepic.jpeg' %}" style="max-width: 50%;">
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
